.log-title h1{
    align-self: start;
    font-family:'Panama';
    font-weight: 700;
    font-size:clamp(72px, 9vw, 150px);
    letter-spacing:-0.03em;
    color: #fff;
    transform: scaleY(1.7);
    opacity: 0.9;
    display:grid;
    width:max-content;
}

.log-title{
    grid-column:2/8;
    align-self:start;
    padding-top:100px;
}

.log-subtitle{
    grid-column:9/11;   
    align-self:center;
    margin-top:230px;
}

    .log-text p{
        align-self: start;
        font-family:'Panama';
        font-weight: 700;
        font-size:clamp(22px, 2.6vw, 32px);
        letter-spacing:0.02em;
        color: #fff;
        display:grid;
        width:100%
    }

.log-text{
    grid-column:1/12;
    justify-self:end;
    text-align:right;
    max-width:100%;
    min-width:0;
    overflow:hidden;
    margin-bottom:430px;
    line-height: 1.6em;
}
.features-card-images h3{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Wadik Bold';
    font-size:clamp(18px, 2vw, 24px);
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    padding:20px;
}

.route-log{
    padding-top:70px;
    position:relative;
   
}

.route-log-desc{
    max-width:74%;
    margin:40px 0 70px;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}

.log-map img{
    width:100%;
    display:block;
    margin-bottom: 60px;
    margin-top: 0;
}

/* ==========================
   АДАПТИВ
========================== */
@media(max-width:1200px){
    .log-text{
        margin-bottom:220px;    
    }
    
    .log-title {
    padding-top: 50px;
}
}

@media(max-width:900px){
        .log-title,
        .log-subtitle,
        .log-text{
            grid-column:1 / -1;
        }

    .log-subtitle{
        margin-top:40px;
    }

    .log-text{
        margin-bottom:80px;
    }
}

@media(max-width:768px){
    .route-log-desc{
        max-width:100%;
    }
        .hero-grid {
        gap: 15px;
    }
    .log-text{
        padding-top: 0px;
    }
    .route-log {
    padding-top: 40px;
}
    .route-log-desc {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .route-grid {
    gap: 20px;
}
}
@media(max-width:640px){
.route-log {
    padding-top: 30px;
}
    .route-log-desc {
        margin-top: 10px;
        margin-bottom: 10px;
    }   
}

@media(max-width:550px){

    .log-title,
    .log-subtitle,
    .log-text{
        grid-column:1 / -1;
        padding-top: 60px;
    }

    .log-title{
        align-self:center;
        justify-self:center;
    }

    .log-title h1{
        font-size:64px;
        text-align:center;
    }

    .log-text{
        justify-self:center;
        text-align:center;
        padding-top: 10px;
    }

    .log-text p{
        font-size:18px;
        text-align:center;
    }

}

@media(max-width:480px){
    .log-title h1{
        font-size: 50px;    
        text-align:center;
    }
    .log-text p{
        font-size:16px;
        text-align:center;
    }
       .route-log-desc {
        font-size: 18px;
    }

}

@media(max-width:405px){
    .log-title h1{
        font-size: 45px;    
        text-align:center;
    }
    .log-text p{
        font-size:15px;
        text-align:center;
    }
}

@media(max-width:360px){
    .log-title h1{
        font-size: 38px;    
        text-align:center;
    }
    .log-text p{
        font-size:13px;
        text-align:center;
    }
    .route-grid {
    gap: 0px;
}
}