.features-grid{
    display:grid;
    grid-template-columns:repeat(12, minmax(0,1fr));
    gap:30px;
}
.features{
    padding-top:70px;
    position:relative;
}
.features-text {
    grid-column:1/9;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}

.features::after {
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    width: 20%;
    height: 100%;
    background: url("../images/features-bg.svg") no-repeat;
    pointer-events: none;
    z-index: -1;
}
.features-card{
    grid-column: 1/13;
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(2, minmax(0,1fr));
    gap:40px;
}
.features-card-images,
.features-card-text{
    border:1px solid #3D4B39;
    border-radius:28px;
    overflow:hidden;
}

.features-card-images{
    position:relative;
}

.features-card-images img{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
}
.features-card-images p{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Wadik';
    font-size:clamp(18px, 2vw, 24px);
    color:#fff;
    text-align:center;
    text-transform:uppercase;
    padding:20px;
}

.features-card-text h3{
    font-family:'Wadik';
    font-weight:700;
    font-size:clamp(20px, 2.2vw, 24px);
    line-height:1;
    color:#3D4B39;
    text-transform:uppercase;
    padding-top: 10%;
}
.features-card-text{
    background:#F4F1EA;
    padding:clamp(24px, 3vw, 50px);
    display:grid;
    grid-template-columns:minmax(0,1fr) 200px;
    column-gap:20px;
    min-width:0;
    width:100%;
}
.features-card-text img{
    
    width:200px;
    justify-self:center;
    align-self:center;
}
.features-card-text p{
    grid-column:1/3;
    margin-top:25px;
    font-family:'Source Serif Pro';
    font-weight:300;
    font-size:clamp(18px, 1.8vw, 24px);
    line-height:1.15;
    letter-spacing: -0.03em;
    color:#3D4B39;
}

.features-card > *,
.route-grid > *,
.features-grid > *{
    min-width:0;
}

.route-continue{
    padding-top:70px;
    position:relative;
}
.route-continue::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("../images/route-bg.png") no-repeat left top;
    pointer-events: none;
    z-index: -1;
}

.route-objects{
    position:relative;
}
.route-grid{
    display:grid;
    grid-template-columns:repeat(12, minmax(0,1fr));
    gap:30px;
}
.route-desc{
    grid-column: 5/13;
    text-align: right;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}
.section-head-left{
    grid-column:1 / 13;
    display:flex;
    align-items:center;
    gap:40px;
}

.section-head-left h2{
    margin:0;
    font-family:'Wadik',sans-serif;
    font-weight:400;
    font-size:clamp(24px, 3vw, 40px);
    color:#3D4B39;
    letter-spacing:-0.02em;
    white-space:normal;
    line-height:1.05;
}

.section-head-left::after{
    content:"";
    flex:1;
    height:3px;
    background:#3D4B39;
    min-width:20px;
}
.section-head-right{
    grid-column:1 / 13;
    display:flex;
    align-items:center;
    gap:40px;
}

.section-head-right::before{
    content:"";
    flex:1;
    height:3px;
    background:#3D4B39;
    min-width:20px;
}

.section-head-right h2{
    margin:0;
    font-family:'Wadik',sans-serif;
    font-weight:400;
    font-size:clamp(24px, 3vw, 40px);
    color:#3D4B39;
    letter-spacing:-0.02em;
    white-space:normal;
    line-height:1.05;
}
.cards-route{
    grid-template-columns:repeat(3,minmax(0,1fr));
}

.before-visit{
    padding-top:70px;
    position:relative;
}
.visit-grid{
    display:grid;
    grid-template-columns:repeat(12,minmax(0,1fr));
    gap:30px;
    align-items:end;
    margin-bottom:50px;
}
.visit-desc{
    grid-column:1/13;
    display:grid;
    grid-template-columns:repeat(12,minmax(0,1fr));
}
.visit-desc p{
    grid-column: 1/13;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}
.visit-desc span{
    grid-column: 7/12;
    font-family: 'coventryC';
    font-size: clamp(44px, 5vw, 86px);
    letter-spacing: -0.04em;
    color: #890000;
    transform: translateX(15%);
    line-height: 0.8em;
    text-align: end;
}

.visit-info{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:80px;
    position:relative;
}

.visit-info::before{
    content:"";
    position:absolute;
    left:50%;
    top:55px;
    bottom:0;
    width:1px;
    background:#3D4B39;
    transform:translateX(-50%);
}

.visit-info h3{
    font-family:'Wadik';
    font-size:clamp(20px, 2.2vw, 24px);
    text-align:center;
    color:#171615;
    letter-spacing:-0.05em;
    margin-bottom:24px;
}

.transport,
.place-info{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.transport{
    padding-right:60px;
}

.place-info{
    padding-left:60px;
}

.car,
.bus,
.ropeway,
.place-time{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:90px;
}

.visit-info h4{
    font-family:'Wadik';
    font-size:clamp(14px, 1.6vw, 16px);
    color:#3D4B39;
    margin:0;
    align-items:center;
}

.visit-info p{
    font-family:'Panama Monospace';
    font-size:clamp(16px, 1.8vw, 20px);
    color:#3D4B39;
    letter-spacing:-0.03em;
    line-height:1em;
    width:min(370px, 100%);
    margin:0;
}

.car p,
.ropeway p,
.place-time p{
    text-align:right;
}

.bus p{
    text-align:left;
}

.price{
    margin: 30px 0;
    display:flex;
    justify-content:flex-end;
    align-items:baseline;
    gap:20px;
}
.price p{
    margin: 0;
    font-family: 'Wadik';
    font-size: clamp(16px, 1.8vw, 20px);
    color: #171615;
}
.price span{
    margin: 0;
    font-family: 'coventryC';
    font-size: clamp(36px, 4.8vw, 64px);
    color: #890000;
}

/* ==========================
   АДАПТИВ
========================== */
@media(max-width:1200px){
    
    .features-card{
        gap:24px;
    }

    .features-card-text img {
    width: 150px;
    justify-self:flex-end;
}

.features-card-text h3 {
        padding: 10px;
}

    .visit-info{
        gap:40px;
    }

    .transport{
        padding-right:24px;
    }

    .place-info{
        padding-left:24px;
    }
}

@media(max-width:1100px){
    .features-card-text img{
    width:110px;
}
.cards.cards-route{
 grid-template-columns:repeat(2,1fr);
}

.cards.cards-route .card:last-child{
 grid-column:1 / 3;
 width:50%;
}
}

@media(max-width:1100px){
    .cards.cards-route{
        grid-template-columns:repeat(2,minmax(0,1fr));
    }


    .cards.cards-route .card:last-child{
        grid-column:1 / -1;
        width:50%;
        justify-self:center;
    }


}


@media(max-width:900px){
    .features-card{
        grid-template-columns:1fr;
    }
     .features-card-text{
        display:grid;
        grid-template-columns:1fr 120px;
        align-items:center;
        gap:20px;
    }
    .features-card-text h3 {
    padding-top: 10px;
}

    .features-card-text h3,
    .features-card-text p{
        grid-column:1;
    }


    .features-card-text img{
        grid-column:2;
        grid-row:1 / 3;
        width:200px;
    max-width:100%;
    }

    .section-head-left,
    .section-head-right{
        flex-wrap:wrap;
    }

    .section-head-left::after,
    .section-head-right::before{
        display:none;
    }

    .route-desc{
        grid-column:1 / -1;
        text-align:left;
    }

    .visit-grid{
        margin-bottom:24px;
    }

    .visit-info{
        grid-template-columns:1fr;
        gap:24px;
    }

    .visit-info::before{
        display:none;
    }

    .transport,
    .place-info{
        padding:0;
    }

    .car,
    .bus,
    .ropeway,
    .place-time{
        min-height:auto;
        gap:12px;
        flex-direction:column;
        align-items:flex-start;
    }

    .car p,
    .ropeway p,
    .place-time p,
    .bus p{
        text-align:left;
        width:100%;
    }

    .price{
        justify-content:flex-start;
        flex-wrap:wrap;
    }

    }




@media(max-width:768px){
    .features,
    .route-continue,
    .before-visit{
        padding-top:30px;
    }

    .features-text,
    .route-desc,
    .visit-desc p{
        grid-column:1 / -1;
    }

    .visit-desc span{
        grid-column:1 / -1;
        transform:none;
        text-align:left;
    }
  .features-card {
        margin-top: 10px;
        gap: 25px;
    }
    
}

@media(max-width:600px){
    .features-card-text{
        grid-template-columns:1fr;
    }

    .features-card-text img{
        width:160px;
        justify-self:center;
    }

    .features-card-text p{
        grid-column:auto;
    }
}


@media(max-width:640px){
     .features-grid{
        grid-template-columns:1fr;
    }
.features-grid,
    .objects-grid,
    .route-grid,
    .visit-grid{
        grid-template-columns:1fr;
    }

.features-grid {
    gap: 0px;
    padding-top: 10px;
}
.features-text {
    padding-top: 10px;
    padding-bottom: 10px;
}
  
    .route-desc,
    .features-text,
    .visit-desc,
    .section-head,
    .section-head-left,
    .section-head-right{
        grid-column:1;
        width:100%;
        max-width:100%;
    }


    .cards,
    .cards.cards-route{
        grid-column:1;
        grid-template-columns:1fr;
        width:100%;
    }


    .cards.cards-route{
        grid-template-columns:1fr;
    }


    .cards.cards-route .card:last-child{
        grid-column:auto;
        width:100%;
        justify-self:stretch;
    }
    .features-card-text{
        grid-template-columns:1fr;
    }

    .features-card-text img{
        grid-column:auto;
        width:140px;
        justify-self:center;
    }


}
@media(max-width:480px){
    
    .features,
    .route-continue,
    .before-visit{
        padding-top:30px;
    }
    .features-card-text{
        padding:16px;
    }

    .features-card-text img{
        width:140px;
    }

    .visit-info h3{
        text-align:left;
    }

    .cards-route{
        grid-template-columns:1fr;
    }

    .visit-info h4{
        font-size:14px;
    }

    .visit-info p{
        font-size:15px;
    }
    
    .features-text {
        font-size: 18px;
    }
    .features-card-text{
        grid-template-columns:1fr;
    }
    .features-card-text h3{
        font-size:16px;
    }
    .features-card-images p {
    font-size:16px;
}

    .features-card-text h3,
    .features-card-text p{
        grid-column:1;
    justify-self:center;
    text-align:center;
    }

    .features-card-text img{
        grid-column:1;
        grid-row:auto;
        width:140px;
        justify-self:center;
    }
}

@media(max-width:380px){
    .features-card-images p{
        font-size:15px;
    }
    .features-card-text p{
        margin-top: 10px;
        font-size:15xpx;
    }
    .features-card-text {
        padding: 5px;
        gap: 8px;
    }
    .features-card-text img{
        width:100px;
        max-width:100%;
    }

    .features-card-text img{
        width:80px;
    }
    .card p {
        font-size: 16px;
    }

}

@media(max-width:360px){

    .features-card,
    .features-card-text{
        width:100%;
        min-width:0;
    }

    .features-card-text img{
        width:100px;
        max-width:100%;
    }

    .features-card-text p{
        font-size:15px;
    }
}

