.sopka-title h1{
    align-self: start;
    font-family:'Panama';
    font-weight: 700;
    font-size:clamp(72px, 9vw, 150px);
    letter-spacing:-0.03em;
    color: #fff;
    transform: scaleY(1.7);
    opacity: 0.9;
    display:grid;
    width:max-content;
}

.sopka-title{
    grid-column:2/8;
    align-self:start;
    padding-top:60px;
}

.sopka-subtitle h2{
    align-self: start;
    font-family:'Panama';
    font-weight: 700;
    font-size:clamp(72px, 9vw, 150px);
    letter-spacing:-0.03em;
    color: #fff;
    transform: scaleY(1.7);
    opacity: 0.8;
    display:grid;
    width:max-content;  
    text-align: right;
}

.sopka-subtitle{
    grid-column:9/11;
    align-self:center;
    margin-top:230px;
}

.sopka-text p{
    align-self: start;
        font-family:'Panama';
        font-weight: 700;
        font-size:clamp(22px, 2.6vw, 32px);
        letter-spacing:0.02em;
        color: #fff;
        display:grid;
        width:100%
}

.sopka-text{
    grid-column:1/12;
    justify-self:end;
    text-align:right;
    max-width:100%;
    min-width:0;
    overflow:hidden;
    margin-bottom:30px;
    line-height: 1.6em;
}

.features-card-images h3{
    position:absolute;
    top:35px;
    right:35px;
    font-family:'Wadik Bold';
    font-size:clamp(18px, 2vw, 24px);
    line-height:1;
    color:#fff;
    text-align:right;
    text-transform:uppercase;
    padding:20px;
}

.sopka-map{
    padding-top:70px;
    position:relative;
}

.sopka-map-text{
    max-width:74%;
    margin:40px 0 70px;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}

.panorama{
    position:relative;
    width:100%;
}

.panorama-image{
    display:block;
    width:100%;
    height:auto;
}

.point{
    position:absolute;
    width:18px;
    height:18px;
    border:none;
    background:transparent;
    cursor:pointer;
    padding:0;

    transition:transform .25s;
}
.point:hover{
    transform:translateY(-6px);
}

.dot{
    display:block;
    width:18px;
    height:18px;
    border-radius:50%;
    border:5px solid #fff;
    transition: transform .25s, background .25s;
}

.point:hover .dot{
    box-shadow:0 12px 30px rgba(61,75,57,.12);
}

.point::after{
    content:"";
    position:absolute;
    top:18px;
    left:50%;
    transform:translateX(-50%);
    width:2px;
    height:55px;
    background:#D7D7D7;
    transition:.25s;
}

.point:hover::after{
    height:61px;
}

.label{
    position:absolute;
    left:50%;
    bottom:25px;
    transform:translateX(-50%);
    min-width:180px;
    background:#F4F1EA;
    border-radius:30px;
    padding:12px 18px;
    text-align:center;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    border:1px solid #364A33; 
}

.point:hover .label{
    opacity:1;
    visibility:visible;
}

.label h3{
    font-family:'Wadik';
    font-size:20px;
    color:#364A33;
    margin-bottom:5px;
}

.label p{
    font-family:'Source Serif Pro', serif;
    font-size:16px;
    color:#555;
}
.point-1{
    left:10%;
    top:36%;
}

.point-2{
    left:20%;
    top:36%;
}

.point-3{
    left:36%;
    top:32%;
}

.point-4{
    left:46%;
    top:32%;
}

.point-5{
    left:61%;
    top:31%;
}
.point-6{
    left:80%;
    top:31%;
}
.point-7{
    left:90%;
    top:44%;
}
.point-8{
    left:56%;
    top:39%;
}

.arrow-sopka{
    position:absolute;
    top:150px;
    left:75%;
    z-index:2;
}
/* ==========================
   АДАПТИВ
========================== */
@media(max-width:1200px){
    .sopka-text{
        margin-bottom:140px;
    }
}
@media(max-width:1340px){
    .arrow-sopka{
    position:absolute;
    top:150px;
    left:75%;
    z-index:2;
    width: 230px;
}

}

@media(max-width:1000px){
    .arrow-sopka{
        width: 180px;
    }

}

@media(max-width:900px){
    
    .sopka-title,
    .sopka-subtitle,
    .sopka-text{
        grid-column:1 / -1;
    }

    .sopka-subtitle{
        margin-top:0px;
    }

    .sopka-text{
        margin-bottom:50px;
    }
    .arrow-sopka{    
    width: 160px;
}


}

@media(max-width:768px){
    .arrow-sopka{
    display: none;
}
    .sopka-map-text{
        max-width:100%;
    }
    .sopka-text{
         margin-top:40px;
    }

    .sopka-text p{
        font-size: 20px;
    }
    .sopka-map {
    padding-top: 50px;
    position: relative;
}
}

@media(max-width:480px){
    .sopka-title h1,
    .sopka-subtitle h2{
        font-size:56px;
    }

    .sopka-text p{
        font-size:20px;
    }

    .label{
        min-width:140px;
        padding:10px 12px;
    }

    .label h3{
        font-size:16px;
    }

    .label p{
        font-size:13px;
    }
}
@media(max-width:390px){
    .sopka-title h1,
    .sopka-subtitle h2{
        font-size:48px;
    }

    .sopka-text p{
        font-size:18px;
    }

}