.sopka-title h1{
    align-self: start;
    font-family:'Panama';
    font-weight: 700;
    font-size:clamp(72px, 9vw, 150px);
    letter-spacing:-0.03em;
    color: #fff;
    transform: scaleY(1.7);
    opacity: 0.9;
    display:grid;
    width:max-content;
}

.sopka-title{
    grid-column:2/8;
    align-self:start;
    padding-top:60px;
}

.sopka-subtitle h2{
    align-self: start;
    font-family:'Panama';
    font-weight: 700;
    font-size:clamp(72px, 9vw, 150px);
    letter-spacing:-0.03em;
    color: #fff;
    transform: scaleY(1.7);
    opacity: 0.8;
    display:grid;
    width:max-content;  
    text-align: right;
}

.sopka-subtitle{
    grid-column:9/11;
    align-self:center;
    margin-top:230px;
}

.sopka-text p{
    align-self: start;
        font-family:'Panama';
        font-weight: 700;
        font-size:clamp(22px, 2.6vw, 32px);
        letter-spacing:0.02em;
        color: #fff;
        display:grid;
        width:100%
}

.sopka-text{
    grid-column:1/12;
    justify-self:end;
    text-align:right;
    max-width:100%;
    min-width:0;
    overflow:hidden;
    margin-bottom:30px;
    line-height: 1.6em;
}

.features-card-images h3{
    position:absolute;
    top:35px;
    right:35px;
    font-family:'Wadik';
    font-size:clamp(18px, 2vw, 24px);
    line-height:1;
    color:#fff;
    text-align:right;
    text-transform:uppercase;
}

.sopka-map{
    padding-top:70px;
    position:relative;
}

.sopka-map-text{
    max-width:74%;
    margin:30px 0 70px;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size:clamp(20px, 2.4vw, 32px);
    line-height:1.0;
    letter-spacing: -0.008em;
}

.panorama{
    position:relative;
    width:100%;
    aspect-ratio:1500 / 580;
    
    z-index:10;
}

.panorama-image{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:fill;
}

.panorama-scroll{
    overflow-x:auto;
    overflow-y:visible;
    padding-top:100px;
    margin-top:-100px;
}


.point{
    overflow:visible;
    position:absolute;
    width:18px;
    height:18px;
    border:none;
    background:transparent;
    cursor:pointer;
    padding:0;
    z-index:10;
    transition:transform .25s;
    appearance:none;
    -webkit-appearance:none;
    outline:none;
    -webkit-tap-highlight-color: transparent;
}
.point:hover{
    z-index:100;
    transform:translateY(-6px);
}

.dot{
    display:block;
    width:18px;
    height:18px;
    border-radius:50%;
    border:5px solid #fff;
    transition: transform .25s, background .25s;
}

.point:hover .dot{
    box-shadow:0 12px 30px rgba(61,75,57,.12);
}

.point::after{
    content:"";
    position:absolute;
    top:18px;
    left:50%;
    transform:translateX(-50%);
    width:2px;
    height:55px;
    background:#D7D7D7;
    transition:.25s;
}

.point:hover::after{
    height:61px;
}

    .label{
        position:absolute;
        left:50%;
        bottom:20px;
        transform:translateX(-50%);
        background:#F4F1EA;
        border-radius:30px;
        padding:12px 18px;
        text-align:center;
        opacity:0;
        visibility:hidden;
        transition:.3s;
        border:1px solid #364A33; 
         z-index:333;

        
    }

.point:hover .label{
    opacity:1;
    visibility:visible;
}

.label h3{
    font-family:'Wadik';
    font-size:20px;
    color:#364A33;
    margin-bottom:5px;
}

.label p{
    font-family:'Source Serif Pro', serif;
    font-size:16px;
    color:#555;
}
.point-1{
    left:10%;
    top:36%;
}

.point-2{
    left:20%;
    top:36%;
}

.point-3{
    left:36%;
    top:32%;
}

.point-4{
    left:46%;
    top:32%;
}

.point-5{
    left:61%;
    top:31%;
}
.point-6{
    left:80%;
    top:31%;
}
.point-7{
    left:90%;
    top:44%;
}
.point-8{
    left:56%;
    top:39%;
}

.arrow-sopka{
    position:absolute;
    top:150px;
    left:75%;
    z-index:2;
}
/* ==========================
   АДАПТИВ
========================== */
@media(max-width:1360px){
    
.point-1{
    top:33%;
}

.point-2{
    top:32%;
}

.point-3{
    top:28%;
}

.point-4{
    top:28%;
}

.point-5{
    top:27%;
}
.point-6{
    top:26%;
}
.point-7{
    top:41%;
}
.point-8{
    top:34%;
}

}
@media(max-width:1100px){

.point-1{
    top:29%;
}

.point-2{
    top:28%;
}

.point-3{
    top:25%;
}

.point-4{
    top:25%;
}

.point-5{
    top:24%;
}
.point-6{
    top:22%;
}
.point-7{
    top:37%;
}
.point-8{
    top:32%;
}

}
@media(max-width:1000px){


.point-2{
    top:26%;
}

.point-3{
    top:23%;
}

.point-4{
    top:25%;
}

.point-5{
    top:22%;
}
.point-6{
    top:20%;
}
.point-7{
    top:35%;
}
.point-8{
    top:30%;
}

}
@media(max-width:900px){

.point-1{
    top:26%;
}

.point-2{
    top:23%;
}

.point-3{
    top:20%;
}

.point-4{
    top:23%;
}

.point-5{
    top:20%;
}
.point-6{
    top:18%;
}
.point-7{
    top:32%;
}
.point-8{
    top:27%;
}

}
@media(max-width:780px){
    .point::after {
    height: 50px;
}

.point-1{
    top:24%;
}

.point-2{
    top:20%;
}

.point-3{
    top:18%;
}

.point-4{
    top:20%;
}

.point-5{
    top:17%;
}
.point-6{
    top:16%;
}
.point-7{
    top:30%;
}
.point-8{
    top:25%;
}

}
@media(max-width:780px){
    .point::after {
    height: 45px;
}
}


@media(max-width:1200px){
    .label {
    font-size: 16px;
    line-height: 1em;
}
    .sopka-text{
        margin-bottom:140px;
    }
    .label h3 {
    font-size: 16px;
}
    .label p {
    font-size: 14px;
}
}
@media(max-width:1340px){
    .arrow-sopka{
    position:absolute;
    top:150px;
    left:75%;
    z-index:2;
    width: 230px;
}

}

@media(max-width:1000px){
    .arrow-sopka{
        width: 180px;
    }
    .point-1 .label{
        transform: translateX(-40%);
    }
    .point-7 .label{
        transform: translateX(-60%);


    }

}

@media(max-width:900px){
    .label {
        line-height: 1em;
            padding: 10px 15px;
    }

    .sopka-text{
        margin-bottom:140px;
    }
    .label h3 {
    font-size: 13px;
}
    .label p {
            font-size: 13px;
        line-height: 0.9em;
}
    
    .features-card-images h3 {
    font-size: 22px; 
}
    
    .sopka-title,
    .sopka-subtitle,
    .sopka-text{
        grid-column:1 / -1;
    }

    .sopka-subtitle{
        margin-top:0px;
    }

    .sopka-text{
        margin-bottom:50px;
    }
    .arrow-sopka{    
    width: 160px;
}

.sopka-title {
    padding-top: 30px;
}

}

@media(max-width:768px){
    .arrow-sopka{
    display: none;
}
    .sopka-map-text{
        max-width:100%;
    }
    .sopka-text{
         margin-top:40px;
    }

    .sopka-text p{
        font-size: 20px;
        line-height: 1em;
    }
    .sopka-map {
    padding-top: 40px;
    position: relative;
}
}
@media(max-width:670px){
    .label {
        line-height: 1em;
        padding: 8px 10px;
    }
}
@media(max-width:640px){

    .sopka-map {
    padding-top: 30px;
    }
    .sopka-map-text {
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .panorama-scroll{
        overflow-x:auto;
    }

    .panorama{
        width:180vw;
    }

    .panorama-image{
        width:100%;
    }
    
    .point::after {
    height: 55px;
}

.point-1{
    top:29%;
}

.point-2{
    top:28%;
}

.point-3{
    top:25%;
}

.point-4{
    top:25%;
}

.point-5{
    top:24%;
}
.point-6{
    top:22%;
}
.point-7{
    top:37%;
}
.point-8{
    top:32%;
}
    
}

@media(max-width:580px){
    .point::after {
    height: 48px;
}
}
@media(max-width:530px){
    .point::after {
    height: 43px;
}
}
@media(max-width:470px){
    .point::after {
    height: 40px;
}
    .point-4{
    top:23%;
}

}
@media(max-width:440px){
    .point::after {
    height: 38px;
}
.point-3{
    top:23%;
}

}
@media(max-width:400px){
    .point::after {
    height: 35px;
}

}
@media(max-width:380px){
    .point::after {
    height: 30px;
}

}
@media(max-width:380px){
    .point::after {
    height: 27px;
}

}


@media(max-width:480px){

    .hero-grid {
        padding: 24px 20px 120px;
        gap: 10px;
    }

    .sopka-title h1,
    .sopka-subtitle h2{
        font-size: 48px;
        text-align: center;
    }

    .sopka-text {
    margin:10px;                    
    }

    .sopka-text p{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 100px;               
    }

    .sopka-map-text{
        font-size: 18px;
    }


    .label h3{
        font-size:13px;
    }

    .label p{
        font-size:13px;
    }

    .features-card-images h3{
        font-size: 16px;
        right: 25px;
    }

    .sopka-map {
    padding-top: 30px;
    }

    .sopka-map-text {
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}
@media(max-width:380px){
    .sopka-title h1,
    .sopka-subtitle h2{
        font-size:38px;
    }

    .sopka-text p{
        font-size:15px;
    }
    .features-card-images h3{
        font-size: 13px;
        right: 25px;
    }

}